
.section-grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,1fr);
    gap:10;
    margin:0px 10px;
    align-items:center;
    justify-content:center;
    top:710px;
}
.section-grid-item1{
    justify-items: left;
    background-color: #F4F5F7;
    text-align: center;
    height: 255px;
}
.section-grid-item2{
    grid-column: span 2;
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
}
.section-grid-item3{
    justify-items: left;
    background-color: #F4F5F7;
    text-align: center;
    height: 602px;  
}
.item1_left{
    position: absolute;
    width: 555px;
    height: 102px;
    top:787px;
    left:130px;
    font-size: 22px;
    line-height: 32px;
    padding: 25px 30px 30px 20px;
    color: #2b292d;
    text-align: left;
    font-weight: 400;
  }
  .item1_left span{
    font-weight: 700;
  }  
.item1_right{
    position: absolute;
    width: 555px;
    height: 102px;
    color: #2b292d;
    width: 480px;
    height: 85px;
    left: 714px;
    font-size: 22px;
    line-height: 32px;
    padding: 25px 0px 40px 20px;
    text-align: left;
    top:787px;
}
.item1_right span{
    font-weight: 700;
}
.item1_right p {
    font-weight: 400;
}
.item1_left p {
    font-weight: 400;
}
.grid-flex{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0px 35px 5px 35px;
    padding: 1px 10px;
    width: 1139.77 px;
    height: 75px;
    border: 1px solid green;
}
 .main_2_twice{
    width: 1325px;
    height: 720px;
    margin-top: -20px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
}
 .main_2_left{
    position: absolute;
    width: 596px;
    height: 510px;
    left:10px;
    font-size: 24px;
    padding: 15px 20px 30px 20px;
}  
.main_2_right{
    position: absolute;
    width: 644px;
    height: 510px;
    left: 652px;
    font-size: 24px;
    padding: 15px 20px 30px 20px;
}
.green_title{
    color:#009B4D;
    font-size: small;
    font-weight: bold;
    margin-left: 25px;
   
}
.left_title{
    font-size: 38px;
    font-weight: 700;
    width: 320px;
    margin-top: 4px;
    margin-left: 25px;
    letter-spacing: -0.5px;
}
.main_left_text{
    font-size: 26px;
    margin-left: 25px;
    margin-top: -20px;
    width:410px;
}
.main_left_content{
    position: relative;
    margin-left: 25px;
    top: 5px;
}
#link_1{
    color:#3142C6;
    text-decoration: underline;
    font-family:Tahoma;
    font-size: 20px; 
}
p.main_left_text_2{
    font-family:Tahoma;
    font-size: 18px;
    width: 400px;
    margin-top: 5px;
    color: #2B292D;
}
#line_1{
    background: #3142C6;
    height: 1px;
}
#link_2, #link_3{
    color:#2B292D;
    text-decoration: none;
    font-weight: bold;
    font-family:Tahoma;
    font-size: 20px; 
}
.main_3_twice{
    width: 1325px;
    height: 720px;
    margin-top: -50px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
}
 .main_3_left{
    position: absolute;
    width: 525px;
    height: 510px;
    margin-top: -40px;
    left:100px;
    font-size: 24px;
    padding: 15px 20px 30px 20px;
}  
.main_3_right{
    position: absolute;
    width: 644px;
    height: 510px;
    margin-top: -40px;
    left: 650px;
    font-size: 24px;
    padding: 15px 20px 30px 20px;
}
.rose_title{
    color: #F1592B;
    font-size: small;
    font-weight: bold;
    margin-left: 25px;
}
.quote{
   margin-left: 20px;
   font-size: 18px;
   font-family:Arial, Helvetica, sans-serif; 
   width: 390px;
}
.director{
    display:flex;
    justify-content:flex-start;
    align-items:inherit;
    height: auto;
    margin-left: 20px;
    width: 519px;
    border-bottom: 3px solid #0185D0;
}
.director_text{
   font-size: 18px;
   padding-top: 25px;

   
}
.director p{
    font-size: 16px ;
    color: #4f4c52;
    margin-top:-1px;
    
   
}